---
layout: page
title: Projects | Christopher Hinstorff
permalink: projects/
---

{% include JB/setup %}

{% for project in site.data.projects %}
<div class="row post">
  <div class="span5">
    <img src="/static/img/projects/{{ project.image }}"</img>
  </div>
  <div class="span7">
    <h3>{{ project.name }}</h3>
    <p>{{ project.text1 }}</p>
    {% if project.text2 %}
    <p>{{ project.text2 }}</p>
    {% endif %}
    <p><em>
      <a href="{{ project.URL }}" target="_blank">{{ project.name }}</a>
      {% if project.secondary-name && project.secondary-URL %}
      | <a href="{{ project.secondary-URL }}" target="_blank">{{ project.secondary-name }}</a>
      {% endif %}
    </em></p>
  </div>
</div>
{% endfor %}
