---
layout: page
title: Projects | Chris Hinstorff
permalink: projects/
---

{% include JB/setup %}
<div class="projects">
  {% for category in site.data.project_categories %}
  {% if category.visibility == hidden %}
    <h3>{{ category.name }}</h3>
	{% for project in site.data.projects %}
	  {% if project.category == category.id and project.visibility == hidden %}
	    <p><a href="{{ project.URL }}">{{ project.name }}{{ project.name2 }}</a></p>
          {% endif %}
        {% endfor %}
    </table>
  {% endif %}
  {% endfor %}
</div>
